[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Gerrit events listener to send events to AWS Kinesis broker.
[access "refs/*"]
	owner = group GerritForge-events-aws-kinesis
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-events-aws-kinesis
	label-Verified = -1..+1 group GerritForge-events-aws-kinesis
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-events-aws-kinesis
	removeReviewer = group GerritForge-events-aws-kinesis
	submit = group GerritForge-events-aws-kinesis
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
